<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm" data-aos="fade-down">
  <div class="container">
    <a class="navbar-brand fw-bold text-primary d-flex align-items-center" href="#">
      <i class="fas fa-heartbeat me-2"></i>
      <span>Prajyot Surgicare Clinic</span>
    </a>
    
    <button class="navbar-toggler" type="button" 
            (click)="isMenuCollapsed = !isMenuCollapsed"
            [attr.aria-expanded]="!isMenuCollapsed"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" [ngClass]="{'show': !isMenuCollapsed}">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#doctors">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item ms-2">
          <a class="btn btn-primary btn-sm" href="tel:+919284265655">
            <i class="fas fa-phone me-1"></i> Emergency: +91 98765 43210
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>